{include file="common/head"/}
<div class="swiper-container" id="ban">
    <div class="swiper-wrapper">
        {volist name="adList" id="vo" key="i"}
        <div class="swiper-slide">
            <img src="__PUBLIC__{$vo.pic}"/>
        </div>
        {/volist}
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>


<div class="container clearfix">
    <div class="title-02">
        <h2>NEWS 新闻动态</h2>
        <h3>我们创造具有影响力的体验，<br/>无论是整个框架，还是局部，我们都力求在每一个细节中做到完美</h3>
    </div>
    <ul class="al-nav clearfix">
        <li><a href="#" class="dq">全部新闻</a></li>
        <li><a href="#">公司新闻</a></li>
        <li><a href="#">行业新闻</a></li>
        <li><a href="#">视频新闻</a></li>
    </ul>

    <div class="al-about">
        <div class="news-t">
            <h1>网站建设是指使用标识语言</h1>
            <div>所属分类：公司新闻发布时间：2016-02-16</div>
        </div>
        <div style="text-align: center;">
            <img src="img/nimg.png"/>
        </div>
        <p>
            如果您对您的网页不清楚，没经验，不要紧，您最好告诉建站公司您最大程度的预算，他们会全程为您提供服务。您必须知道您网站的目的，是以广告形式、还是仅给现有的老客户观察？是功能型的，还是展示型的？风格定位要准确，功能型的网站在美工设计上可能不适合大块图片，在数据功能上比较强大，比如搜索，会员注册等，一般大型企业网、购物网、大型门户、交友网等都是属于功能型的，如果是展示型的，这种类型的网站可能大部分追求视觉上的美丽，对功能要求不高。那在美工上面，设计上就得有强烈的视觉感了。这种网站一般属于：美容业、女性用品、服饰等。</p>
        <p>符合标准的是一个术语，经常被用来描述网站和用户代理（通常是Web浏览器）相对符合web标准由万维网联盟（W3C）建议，也可以用来强调不使用专有的
            方法或功能这些浏览器，以确保互操作性。这个词也被用来作为代码为“Internet
            Explorer以外的浏览器'。虽然没有完美的浏览器无缝地坚持当时都在安全标准，已经取得了巨大的进步，由几个主要的网页浏览器（如Mozilla的火狐和Google
            Chrome）在过去的几年中，这将确保在未来更好的互操作性。</p>
    </div>
    <ul class="al-page clearfix">
        <li class="fl">上一篇：<a href="#">织梦HTML5企业模板,带手机站同步更新,适合互联网</a></li>
        <li class="fr">下一篇：<a href="#">Dede欧美风扁平响应式公司企业网站模板</a></li>
    </ul>

</div>


{include file="common/footer"/}
