{include file="common/head"/}
<div class="swiper-container" id="ban">
    <div class="swiper-wrapper">
        {volist name="adList" id="vo" key="i"}
        <div class="swiper-slide">
            <img src="__PUBLIC__{$vo.pic}"/>
        </div>
        {/volist}
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>


<div class="container clearfix">
    <div class="title-02">
        <h2>NEWS 新闻动态</h2>
        <h3>我们创造具有影响力的体验，<br/>无论是整个框架，还是局部，我们都力求在每一个细节中做到完美</h3>
    </div>
    <ul class="al-nav clearfix">
        <li><a href="#" class="dq">全部新闻</a></li>
        <li><a href="#">公司新闻</a></li>
        <li><a href="#">行业新闻</a></li>
        <li><a href="#">视频新闻</a></li>
    </ul>

    <ul class="row clearfix sy-allist">
        <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="sy-albox">
                <a href="xwxx.html"><img src="img/al.jpg"/></a>
                <h3><a href="xwxx.html">网站建设及网站设计</a></h3>
                <p>PC云网站+手机云网站+微信云网站+APP云网站+电视云网站云网站+APP云网站+电视云网站</p>
            </div>
        </li>
        <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="sy-albox">
                <a href="xwxx.html"><img src="img/al.jpg"/></a>
                <h3><a href="xwxx.html">网站建设及网站设计</a></h3>
                <p>PC云网站+手机云网站+微信云网站+APP云网站+电视云网站云网站+APP云网站+电视云网站</p>
            </div>
        </li>
        <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="sy-albox">
                <a href="xwxx.html"><img src="img/al.jpg"/></a>
                <h3><a href="xwxx.html">网站建设及网站设计</a></h3>
                <p>PC云网站+手机云网站+微信云网站+APP云网站+电视云网站云网站+APP云网站+电视云网站</p>
            </div>
        </li>
        <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="sy-albox">
                <a href="xwxx.html"><img src="img/al.jpg"/></a>
                <h3><a href="xwxx.html">网站建设及网站设计</a></h3>
                <p>PC云网站+手机云网站+微信云网站+APP云网站+电视云网站云网站+APP云网站+电视云网站</p>
            </div>
        </li>
        <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="sy-albox">
                <a href="#"><img src="img/al.jpg"/></a>
                <h3><a href="#">网站建设及网站设计</a></h3>
                <p>PC云网站+手机云网站+微信云网站+APP云网站+电视云网站云网站+APP云网站+电视云网站</p>
            </div>
        </li>
        <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="sy-albox">
                <a href="#"><img src="img/al.jpg"/></a>
                <h3><a href="#">网站建设及网站设计</a></h3>
                <p>PC云网站+手机云网站+微信云网站+APP云网站+电视云网站云网站+APP云网站+电视云网站</p>
            </div>
        </li>
        <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="sy-albox">
                <a href="#"><img src="img/al.jpg"/></a>
                <h3><a href="#">网站建设及网站设计</a></h3>
                <p>PC云网站+手机云网站+微信云网站+APP云网站+电视云网站云网站+APP云网站+电视云网站</p>
            </div>
        </li>
        <li class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="sy-albox">
                <a href="#"><img src="img/al.jpg"/></a>
                <h3><a href="#">网站建设及网站设计</a></h3>
                <p>PC云网站+手机云网站+微信云网站+APP云网站+电视云网站云网站+APP云网站+电视云网站</p>
            </div>
        </li>
    </ul>

    <nav class="fenye text-center">
        <ul class="pagination pagination-sm">
            <li><a aria-label="Previous"><span aria-hidden="true">«</span></a></li>
            <li class="active"><a>1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
        </ul>
    </nav>

</div>


{include file="common/footer"/}
